@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Variables de color para reutilizar en el CSS */
:root {
    --white: #FFF;
    --platinum: #E8EBE4;
    --gray: #BEC1BB;
    --blue-bell: #A491D2;
    --soap: #CDC3E6;
    --pale-lavender: #D3DCFF;
    --dark-jungle: #1B1F21;
    --outer-space: #444749;
    --old-silver: #828485;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 20vw;
    height: 100vh;
}

nav img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    border: 2px solid var(--gray);
    height: 8vh;
}

.menu img {
    height: 6vh;
}

.user-info {
    display: flex;
    align-items: center;
}

.nav-newchat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 1px solid #BEC1BB;
}

.btn-nuevo-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A491D2;
    height: 5vh;
    width: 12vw;
}

.btn-nuevo-chat button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-bell);
    height: 5vh;
    width: 12vw;
}

.btn-nuevo-chat button:hover {
    background-color: var(--soap);
}

.btn-nuevo-chat button:focus {
    background-color: var(--gray);
}

.chat-box {
    display: flex;
    flex-direction: column;

}

.chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    height: 10vh;
    border: 1px solid var(--gray);
}

nav .chats img {
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    padding-left: 1vw;
}

.chat-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #E8EBE4;
    width: 80vw;
    height: 100vh;
}

.chat-area img {
    height: 8vh;
    padding: 3vh;
}

.chat-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-text p {
    text-align: center;
    padding-top: 1vh;
    padding-left: 25vw;
    padding-right: 25vw;
}